<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings configSource="connectionStrings.config"/>
  <appSettings>
    <add key="TableName" value="SiriVehicleMonitoringRecords"/>
    <add key="TablePartionKey" value="siriFeed"/>
    <add key="SaveDirectory" value="c:\blobs\"/>
  </appSettings>
</configuration>
