<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="AccountName" value="{account-name}"/>
    <add key="SASToken" value="{sas-token}"/> <!--optional-->
    <add key="AccountAccessKey" value="{sas-token}"/>
    <add key="TableName" value="{table-name}"/>
    <add key="TablePartionKey" value="{partition-key}"/>
    <add key="BlobContainernName" value="{blob-container-name}"/>
    <add key="SaveDirectory" value="{save-dir}"/>
  </appSettings>
</configuration>
